* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --main-color: rgb(0, 98, 65)
}



.header {
    background-color: var(--main-color) ;
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: -3px 10px 42px -8px rgba(0,0,0,0.75);
    z-index: 1000;
    padding: 10px;
}
.header__container-logo--img {
    width: 50px;
    margin: 20px;
}
.header__nav {
    display: none;
    width: 100%;
}
.header__container-icon--icon {
    color: rgb(255, 255, 255);
    font-size: 35px;
    margin: 20px;
}
.header__container-icon--person {
    display: none;
}



.main {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
.main__container-title {
    font-size: 50px;
    padding: 15px;
}
.main__container-title-green {
    color: var(--main-color);
}
.main__container-paragraph {
    font-size: 20px;
    padding: 15px;
}
.main__logo {
    display: none;
}



.gallery {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
}
.gallery__img {
    width: 100%;
    padding: 15px;
}


.contact {
    background-color: black;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact__title {
    color: var(--main-color);
    margin: 25px;
}
.contact__form {
    background-color: var(--main-color);
    height: 225px;
    width: 90%;
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
}
.contact__form-email, 
.contact__form-comment {
    border: 2px;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 10px;
}
.contact__form-comment{
    height: 45px;
}
.contact__form-email::placeholder, 
.contact__form-comment::placeholder {
    color: var(--main-color);
    padding-left: 5px;
    margin-top: 0px;
}
.contact__form-email:focus, 
.contact__form-comment:focus {
    background-color: black;
} 
.contact__form-btn {
    background-color: var(--main-color);
    color: white;
    width: 100px;
    height: 30px;
    border: 2px solid white;
    border-radius: 5px;
}
.contact__form-btn:hover {
    background-color: rgb(226, 215, 66);
    transition: all 1s;
}


