* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --main-color: rgb(0, 98, 65)
}



.header {
    background-color: var(--main-color) ;
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: -3px 10px 42px -8px rgba(0,0,0,0.75);
    z-index: 1000;
    padding: 10px;
}
.header__container-logo--img {
    width: 50px;
    margin: 20px;
}
.header__nav {
    display: none;
    width: 100%;
}
.header__container-icon--icon {
    color: rgb(255, 255, 255);
    font-size: 35px;
    margin: 20px;
}
.header__container-icon--person {
    display: none;
}



.main {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
.main__container-title {
    font-size: 50px;
    padding: 15px;
}
.main__container-title-green {
    color: var(--main-color);
}
.main__container-paragraph {
    font-size: 20px;
    padding: 15px;
}
.main__logo {
    display: none;
}



.gallery {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
}
.gallery__img {
    width: 100%;
    padding: 15px;
}


